.mainContainer{
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin:5rem auto;
    display:flex;
    gap:1rem;
    flex-flow:column;
    width:30%;
    text-align:center;
    border-radius:25px;
    border:1px solid var(--border-color);
    padding:2rem;
        text-align: left;

}
.formContainer{
    display:flex;
    flex-flow:column;
    gap:1rem;
    width:100%;
}