.main{
    display:flex;
    width:100%;
    height:fit-content;
    align-items: center;
    margin:auto;
    padding: 1rem 2rem;
    justify-content: space-between;
    border-bottom:1px solid #1976D5;
    background-color: white;
    text-transform:uppercase;
    /* box-shadow: 0 0px 20px rgba(36, 36, 36, 0.3); */
}
.main h1{
    font-weight:500;
    font-size:1.5rem;
    color:#1976D5;
}
.navItems{
    list-style:none;
    display:flex;
    flex-direction:row;
    gap:1rem;
    align-items: center;
    text-align: center;
    justify-content:center;
    
}
.navItems li{
    font-size:2rem;
    color:#1976D5;
    cursor:pointer;
    line-height:0;    
}
.userPhotoContainer{
    width:50px;
    position:relative;
    height:50px;
}
.dropdownArrow{
    position:absolute;
    bottom:-5px;
    right:-5px;
    font-size:1.2rem;
    background-color: rgb(241, 241, 241);
    border-radius:50%;
    color:#1976D2;
    padding: 2px;
    
}
.logoutBtn {
    background-color: transparent;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top:1rem;
    padding:.2rem .2rem .2rem .2rem;
    border-radius:5px;
}

.logoutBtn:hover {
    background-color: #1976D2;
    color: white;
}
.generateAvatar{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    color:#FAF9F6;
    border-radius:50%;
    background-color: #829AA6;
    border:2px solid #1976D2;
}