.main{
    display:flex;
    width:100%;
    height:fit-content;
    align-items: center;
    margin:auto;
    padding: 1rem 2rem;
    justify-content: space-between;
    border-bottom:1px solid #1976D5;
    background-color: white;
    text-transform:uppercase;
    /* box-shadow: 0 0px 20px rgba(36, 36, 36, 0.3); */
}
.main h1{
    font-weight:500;
    font-size:1.5rem;
    color:#1976D5;
}
.navItems{
    list-style:none;
    display:flex;
    flex-direction:row;
    gap:1rem;
    align-items: center;
    text-align: center;
    justify-content:center;
    
}
.navItems li{
    font-size:2rem;
    color:#1976D5;
    cursor:pointer;
    line-height:0;    
}
.userPhotoContainer{
    width:40px;
    height:40px;
}
.generateAvatar{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    color:#FAF9F6;
    border-radius:50%;
    background-color: #829AA6;
    border:2px solid #1976D2;
}