.container{
    background-color: white;
    width:100%;
    max-width:100%;
    height:100%;
    padding:2rem 2rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}
.header {
  position: relative;
  z-index: 100;
  font-size: 1.5rem;
  text-align: center;
  color: #1565C0;
}

.table{
    display:grid;
    gap:1rem;
}
.row{
    height:90px;
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    justify-content: space-between;
    padding:0 1rem;
    border-bottom: 1px solid var(--border-color);
    width:100%;
}
.rowsubContainer{
    display:flex;
    gap:2rem;
    width:50%;
}
.pxPhotoContainer{
    width:50px;
    height:50px;
    flex-shrink:0;
    border-radius:50%;
    overflow:hidden;
    position:relative;
}
.pxPhoto{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    display:block;
    border-radius:50%;
}
.apptDetailsContainer{
    display:flex;
    flex-flow: column;
    justify-content: center;
    color: vaR(--aw-gray);
}
.apptDetails{
    display:flex;
    gap:1rem;
    width:100%;
}
.apptDetails>*{
    white-space: nowrap;
}
.apptBtn{
    height:fit-content;
    width:fit-content;
    color:white;
    background-color: var(--primary-contrast);
    padding:.5rem 1rem;
    border-radius:10px;
    font-size:.9rem;
    white-space: nowrap;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:.3rem;
    cursor:pointer;
}
.linkIcon{
    line-height:0;
    font-size:1.3rem;
}
.pxName{
    font-weight:500;
    color: #4b44ce;
}
.apptTime{
    border-left:1px solid black;
    padding-left:1rem;
}