/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
 :root{
    /* Colors */
    --primary-color:rgb(66, 140, 216);
    --primary-contrast: #1976D5;
    --aw-white: #F6F8FA;
    --aw-gray: rgba(87, 87, 87, 0.712);
    --aw-red: #E1151E;
    --text-gray: rgba(0,0,0,.60);
    --border-color: rgba(0, 0, 0,.10);
    --patient-bg: #F6F8FA;
    --aw-cream: #FFFDDC;
    --aw-green: #079042;
    --off-black: rgb(65, 65, 65);

    /* Text Sizes  */
    --desktop-header: ;
    --mobile-header: 2rem;

    /* 430px Breakpoint */
    --mobile-header: 1.75rem;
    --mobile-body: .8rem;
 }
*{
    box-sizing: border-box;
    font-family: 'Poppins';
    margin:0;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:black;
}
hr{
    display: block;
    height: 20px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
button{
    border-style:none;
    border-radius: 1rem;
    cursor:pointer;
}
.divider{
    width:100%;
    border-top: 1px solid rgba(128, 128, 128, .5);
}
.dataTitle{
    font-weight:300;
    color: var(--aw-gray);
}
.data{
    font-weight:600;   
    color: #33363F;
    font-size:1.30rem;
}
.verticalDivider{
    width:5px;
    height:100%;
    border: 1px solid rgba(128, 128, 128, .5);
}
.CircularProgressbar-text {
  font-weight: 700;
}
.blue-btn{
    color:white;
    background-color: var(--primary-contrast);
    padding:.3rem .7rem;
    border-radius: 7px;
    cursor:pointer;
    display:flex;
    gap:.3rem;
}
.btn-icon{
    font-size:1.3rem;
    line-height:0;
}