.container{
    padding:1rem;
    display:flex;
    flex-flow:column;
    align-items:center;
}
.header{
    font-size:1.5rem;
    font-weight:700;
    margin:1rem 0 ;
    color:var(--primary-color);
    text-transform: uppercase;
}
.documentContainer{
    border:1px solid var(--border-color);
    border-radius:10px;
    background-color: white;
    padding:1rem;
    width:1250px;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.tblTitle{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:none;
}
.tblTitleText{
    font-weight:500;
    font-size:1.3rem;
    color:var(--aw-gray);
}
.filterContainer{
    display:flex;
    gap:1rem
}
.tableContainer{
    /* box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px; */
    /* border:1px solid pink;
    border-radius:15px; */
}
.tbl{
    border-collapse: collapse;
    width:100%;
    height:100%;
}
.tblHead tr th{
    background-color: var(--primary-contrast);
    color:white;
}
.tblHead{
    padding:1rem;
}
.tblData{

}
.tblHeader:last-child{
    border-top-right-radius: 15px;
    border-right:none;
}
.tblHeader:first-child{
    border-top-left-radius: 15px;
    border-left:none;
}

.tblBody tr:last-child td:last-child{
    border-radius:15px;
    background-color: white;
    /* border:1px solid black; */
    /* border-bottom:none;
    border-right:none; */

}
/* .tblData :first-child{
    border-bottom-left-radius: 15px;

} */
.tblHeader, .tblData{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding:12px 8px;
    text-align:center;

}
/* .tblHeader:first-child, .tblData:first-child{
    border-left:none;
}
.tblHeader:last-child, .tblData:last-child{
    border-right:none;
}
.tblBody:last-child{
    border-bottom:none;
}
.tblBody:last-child{
    border-bottom:none;
} */
 .approvedText{
    color:white;
    /* border: 1px solid black; */
    background-color: #56C45A ;
    border-radius:15px;
    width: fit-content;
    padding:.5rem 1rem;
    justify-self: center;
 }
 .rejectedText{
    color:white;
    /* border: 1px solid black; */
    background-color: #EC5D57 ;
    border-radius:15px;
    width: fit-content;
    padding:.5rem 1rem;
    justify-self: center;
 }
 .pendingText{
    color:white;
    /* border: 1px solid black; */
    background-color: #F7960A;
    border-radius:15px;
    width: fit-content;
    padding:.5rem 1rem;
    justify-self: center;
 }
.blankPxContainer{
    width:50px;
    height:50px;
    overflow: hidden;
    border-radius:50%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid #1976D5;
}
.pxPhoto{
    object-fit:contain;
    object-position: 50% 50%;
    min-width:100%;
    height: auto;
    
}
.pxContainer{
    display:flex;
    text-align: left;
    width:fit-content;
    justify-content: flex-start;
    margin: 0 1rem;
    gap:1rem;
}