.container{
    text-align: center;
    height:fit-content;
    margin:auto;
    display:flex;
    align-items: center;
    /* justify-content: center; */
    width:50%;
    margin-bottom:3rem;
    flex-flow: column;
    gap:3rem;
}
.header{
    color:#1976D5;
    font-size:3rem;
}
.text{
    padding:2rem;
    color:White;
    background-color:#407FFE;
    /* border:1px solid rgb(112, 112, 112); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:15px;
}