.mainContainer{
    padding:2.5rem 1rem 1rem 1rem;
    display:flex;
    width:100%;
    position: relative;
    justify-content: flex-start;
    gap:1rem;
}
.directoryContainer{
    position: absolute;
    display:flex;
    align-items: center;
    gap:.5rem;
    top:15px;
    left:20px;
    font-size:1.2rem;
    color:var(--off-black);
}
.rowOne{
    width:50%;
    min-height:fit-content;
    height:auto;
    border:1px solid var(--border-color);
    border-radius: 15px;
    flex-grow:0;
    margin-top:1rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    position:relative;
    padding-bottom:4rem;
}
.rowTwo{
    margin-top:1rem
}
.headercontainer{
    display:flex;
    gap:1rem;
    padding-bottom:1rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom:1rem;
}
.dirContainer{
    display:flex;
    gap:1rem;
    line-height:0;
    align-items: center;
}
.sessionIdContainer{
    border: 1px solid var(--border-color);
    width:fit-content;
    height:fit-content;
    height:fit-content;
    padding: .2rem .5rem;
    border-radius: 5px;
    background-color: rgb(202, 202, 202);

}
.applyBtn{
    position:absolute;
    width:fit-content;
    padding:.5rem 1.5rem;
    border-radius:5px;
    background-color: var(--aw-green);
    color:white;
    bottom:15px;
    right:20px;
}
.apptDetailsContainer{
    border: 1px solid var(--border-color);
    padding:1rem;
    border-radius:15px;
}