.container{
    width:1000px;
    height:fit-content;
    padding:1rem;
    display:flex;
    flex-flow:column;
    gap:1rem;
    align-items: center;
    margin:auto;
}
.header{
    font-size:1.3rem;
    font-weight:600;
    text-align: center;
    color:var(--primary-contrast);
    text-transform: uppercase;
}
.subHeader{
    text-transform: uppercase;
    color:var(--primary-contrast);  
    text-align: center;
}
.rowOne{
    width:fit-content;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    border: 1px solid var(--border-color);
    border-radius:10px;
   
}
.rowTwo{
    width:fit-content;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    border-radius:10px;
    background-color: white;
    flex-flow:column;
    color:var(--primary-contrast);
}
.fieldGrid{
    width:fit-content;
}
.initialEvalContainer{
    width:100%;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius:10px;
    background-color: white;
    flex-flow:column;
}
.bottomRowContainer{
    display:flex;
    flex-flow:row;
    gap:1rem;
}
.initialEvalHeader{
    width:100%;
    display:flex;
    flex-flow:row;
}
.subContainerLeft{
    width:65%;
    height:fit-content;
    text-align:left;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.subContainerRight{
    width:35%;
    height:100%;
    text-align:left;
    display:flex;
    flex-flow:column;
    gap:1rem;    
}
.leftBlock{
    display:flex;
    flex-flow:column;
    gap:1rem;
    border:1px solid var(--border-color);
    border-radius:5px;
    padding:1rem;
}
.leftBlockTwo{
    display:flex;
    flex-flow:column;
    gap:1rem;
    border:1px solid var(--border-color);
    border-radius:5px;
    padding:1rem;
}
.btnContainer{
    display:flex;
    gap:1rem;
}
.oiContainer{
    width:100%;
    
    height:100%;
    border: 1px solid var(--border-color);
    text-align: left;
    border-radius: 5px;
    align-items:flex-start;
    padding:1rem;
}
.palpationContainer{
    width:100%;
    height:100%;
    border:1px solid var(--border-color);
    border-radius: 5px;
    padding:1rem;
}

.medicalHistoryContainer{
    width:100%;
    height:fit-content;
    /* border:1px solid var(--border-color);
    border-radius:5px; */
    /* padding:1rem; */
    text-align:left;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.medicalHistoryHeader{
    font-size:1.3rem;
    font-weight:500;
}
.medicalHistorySubHeader{
    text-transform: uppercase;
    color:var(--primary-contrast);  
    text-align: left;
}
.medicalHistorySubContainer{
    border:1px solid var(--border-color);
    border-radius: 5px;
    padding:1rem;
    width:100%;
}
.medicalHistorySubContainerTwo{
    border:1px solid var(--border-color);
    border-radius: 5px;
    padding:1rem;
    width:60%;
}