.container{
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
    width:fit-content;
    max-width:100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.header{
    text-transform:uppercase;
    color:var(--primary-contrast);
    margin-bottom:1rem;
    margin-left:.5rem;
}
.headerContainer{
    display:flex;
    flex-flow:column;
    align-items: center;
    height:auto;
    width:clamp(180px, 80%, 100%);
    
}
.apptDashboardContainer{
    padding:2rem 0rem;
    width: fit-content;
    height:fit-content;
    border-radius:15px;
    z-index:3;
    position: relative;
}
.tabContainer{
    position:absolute;
    top:-10px;
    left:10px;
    display:flex;
    gap:.5rem;
    z-index:1;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;

}
.tabItem{
    background-color: var(--primary-contrast);
    color:White;
    border-radius:10px;
    padding:.5rem 1rem 1rem 1rem;
    flex-grow:0;
    cursor: pointer;   
    display:flex; 
    align-items:flex-end;
}
.tabActive{
    background-color: white;
    color: var(--primary-contrast);
    border-radius:10px;
    padding:.5rem 1rem 1rem 1rem;
    flex-grow:0;
    cursor: pointer;    
    z-index:4;
    border: 1px solid var(--primary-contrast);
}
.slidesContainer{
    width: fit-content;
    background-color: white;
    border:1px solid var(--border-color);
    border-radius:15px;
    z-index:3;
    position: relative;
    height:300px;
    min-height: fit-content;
    padding:1rem 2rem 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
    margin:auto;
}
.branchSlide{
    height:0;
    max-height:0px;
    margin:0;
    display:none;
    opacity:0;
    width: fit-content;
}
.branchSlideActive{
    max-height:fit-content;
    width: fit-content;
    display:block;
    min-height:300px;
    opacity:1;
}
