.container{
    padding:2rem;
    width:1400px;
    height:fit-content;
    position:relative;
    margin:auto;
}
.headerContainer{    
    display:flex;
    width:100%;
    align-items: center;
    font-size:1.8rem;
    font-weight:700;
    color:var(--primary-contrast);
    justify-content: space-between;
    background-color: white;
    padding: .5rem 1rem 0 1rem;
    border:1px solid var(--border-color);
    border-radius:20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;

}
.tableContainer{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width:100%;
    height:fit-content;
    border: 1px solid var(--border-color);
    border-bottom:none;
    overflow: hidden;
    background-color: white;
    margin-bottom:1rem;
}
.header{
    font-size:2.5rem;
    text-transform:uppercase;
}
.filterActionContainer{
    display:flex;
    gap:1rem;
}
 
.paginationContainer{
    position:absolute;
    right:30px;
    bottom:25px;
    display:flex;
    gap:.5rem;
}
.paginationContainer button{
    background-color: var(--primary-contrast);
    color:white;
    padding: .5rem 1rem;
}
.actionBtnContainer{
    display:flex;
    align-items: center;
    gap:.3rem;
    background-color: var(--primary-contrast);
    width:fit-content;
    margin:auto;
    padding: .2rem 1rem;
    color:white;
    border-radius:10px;
    cursor: pointer;
}

.tableContainer{
    width:100%;
    height:fit-content;
    border-radius:10px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-bottom:1rem;
}
.tbl{
    border-collapse: collapse;
    width:100%;
    height:100%;
}
.tblHead{
    background-color: var(--primary-contrast);
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.tblHeader, .tblData{
    border-left: 1px solid var(--aw-gray);
    border-right: 1px solid var(--aw-gray);
    border-bottom:1px solid var(--aw-gray);
    padding:12px 8px;
    text-align:center;
}
.tblHeader:first-child, .tblData:first-child{
    border-left:none;
    
}
.tblHeader:last-child, .tblData:last-child{
    border-right:none;
    
}
.tblBody:last-child{
    border-bottom:none;
}
.tblData:last-child{
    /* display:flex;
    align-items: center;
    justify-content: center; */
}
.tblDataActionContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}