.container{
    padding:1rem;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.subContainer{
    border: 1px solid var(--border-color);
    padding:1rem;
    border-radius:10px;
    background-color:white;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.header{
    color:var(--primary-contrast);
    font-weight:600;
    font-size:1.4rem;
}
.subContainerHeader{
    padding-bottom:.5rem;
    border-bottom:1px solid var(--border-color);
}
.directoryContainer{
    display:flex;
    align-items: center;
    color: var(--aw-gray);
    gap:.5rem;
    font-size:1.2rem;
}
.tableContainer{
    width:100%;
    height:fit-content;
    border-radius:10px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-bottom:1rem;
}
.tbl{
    border-collapse: collapse;
    width:100%;
    height:100%;
}
.tblHead{
    background-color: var(--primary-contrast);
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.tblHeader, .tblData{
    border-left: 1px solid var(--aw-gray);
    border-right: 1px solid var(--aw-gray);
    border-bottom:1px solid var(--aw-gray);
    padding:12px 8px;
    text-align:center;
}
.tblHeader:first-child, .tblData:first-child{
    border-left:none;
    
}
.tblHeader:last-child, .tblData:last-child{
    border-right:none;
    
}
.tblBody:last-child{
    border-bottom:none;
}
.tblData:last-child{
    /* display:flex;
    align-items: center;
    justify-content: center; */
}
.tblDataActionContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.icon{
    /* padding:.3rem;
    background-color: pink; */
    vertical-align: middle;
    /* line-height:10px; */
}
.eyeIconContainer{
    width:30px;
    height:30px;
    background-color: #1976D5;
    border-radius: 10px;
    cursor: pointer;
    color:white;
}
.dlIconContainer{
    width:30px;
    height:30px;
    background-color: #FDBD4F;
    border-radius: 10px;
    cursor: pointer;
    color:white;
}
.eyeIcon{
}
