.container{
    padding:1rem;
    display:flex;
    width:80%;
    flex-flow:column;
    gap:1rem;
}
.directoryContainer{
    display:flex;
    align-items: center;
    gap:.3rem;
}
.headerContainer{
    width:1200px;
    display:flex;
    gap:1rem;
}
.pxNameContainer{
    width:60%;
    display:flex;
    gap:1rem;
    border: 1px solid var(--border-color);
    padding:1rem;
    border-top-left-radius: 15px;
    background-color: white;
}
.pxNumberContainer{
    width:40%;
    display:flex;
    gap:1rem;
    border: 1px solid var(--border-color);
    padding:1rem;
    border-top-right-radius: 15px;
    background-color: white;
}
.pxPersonalInfoContainer{
    width:fit-content;
    display:flex;
}
.pxInitialEvalContainer{
    height:fit-content;
    width:100%;
    display:flex;
    position:relative;
}
.dataBodyContainer{
    display:flex;
    gap:1rem;
}
.nextBtn{
    position: absolute;
    bottom:30px;
    right:30px;
    background-color: var(--primary-contrast);
    color:white;
    padding:.5rem 3rem;
    border-radius:8px;
}
.prevBtn{
    position: absolute;
    bottom:30px;
    left:30px;
    background-color: var(--primary-contrast);
    color:white;
    padding:.5rem 3rem;
    border-radius:8px;
}
.slideIndicator{
    display:flex;
    gap: .5rem;
    position: absolute;
    left:50%;
    bottom:30px;
}
.circle{
    background-color: var(--border-color);
    width:15px;
    height:15px;
    border-radius: 50%;
}
.circle.active{
    background-color:var(--primary-contrast);
    width:15px;
    height:15px;
    border-radius: 50%;
}
.sessionSelectionContainer{
    border: 1px solid var(--border-color);
    border-radius:15px;
    background-color: white;
    padding:1rem;
    height:fit-content;
    display:flex;
    flex-flow:column;
    gap:1rem;
    min-width:fit-content;
    width:300px;
}
.sessionTitle{
    color:#428CD8;
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:1rem;  
}
.sessionTable{
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.sessionItem{

    color:var(--aw-offblack );
    display:flex;
    gap:.5rem;
    flex-flow:column;
    position:relative;
    z-index:2;
}
.sessionFlag{
    position:absolute;
    top:-25px;
    left:0;
    background-color:orange;
    height:40px;
    z-index:-2;
    color:White;
    padding:.3rem .5rem;
    border-radius:5px 5px 5px 0;
}
.sessionText{
    background-color:white;
        border: 1px solid var(--border-color);
    border-radius:15px;
    padding:1rem;
    cursor:pointer;
    background-color:white;
}