.container{
    padding:1rem;
    display:flex;
    width:100%;
    flex-flow:column;
    gap:2rem;
}
.directoryContainer{
    display:flex;
    align-items: center;
    gap:.3rem;
}
.headerContainer{
    width:1200px;
    display:flex;
    gap:1rem;
}
.pxNameContainer{
    width:60%;
    display:flex;
    gap:1rem;
    border: 1px solid var(--border-color);
    padding:1rem;
    border-top-left-radius: 15px;
    background-color: white;
}
.pxNumberContainer{
    width:40%;
    display:flex;
    gap:1rem;
    border: 1px solid var(--border-color);
    padding:1rem;
    border-top-right-radius: 15px;
    background-color: white;
}
.pxPersonalInfoContainer{
    /* width:fit-content; */
    display:flex;
}
.pxInitialEvalContainer{
    height:fit-content;
    /* width:100%; */
    display:flex;
    position:relative;
}
.dataBodyContainer{
    display:grid;
    grid-template-columns: 20% 50% 30%;
    gap:2rem;
}
.nextBtn{
    position: absolute;
    bottom:30px;
    right:30px;
    background-color: var(--primary-contrast);
    color:white;
    padding:.5rem 3rem;
    border-radius:8px;
}
.prevBtn{
    position: absolute;
    bottom:30px;
    left:30px;
    background-color: var(--primary-contrast);
    color:white;
    padding:.5rem 3rem;
    border-radius:8px;
}
.slideIndicator{
    display:flex;
    gap: .5rem;
    position: absolute;
    left:50%;
    bottom:30px;
}
.circle{
    background-color: var(--border-color);
    width:15px;
    height:15px;
    border-radius: 50%;
}
.circle.active{
    background-color:var(--primary-contrast);
    width:15px;
    height:15px;
    border-radius: 50%;
}
.sessionSelectionContainer{
    height:fit-content;
    display:flex;
    flex-flow:column;
    gap:1rem;
    min-width:fit-content;
    width:400px;
}
.servicePlanContainer{
    border: 1px solid var(--border-color);
    border-radius:15px;
    padding:1.5rem;
    background-color: white;
}
.appointmentsContainer{
    border: 1px solid var(--border-color);
    border-radius:15px;
    padding:1.5rem;
    background-color: white;
}
.servicePlanTitle{
    color:#428CD8;
    text-transform:uppercase;
    font-weight:700;
    font-size:1.5rem;
    margin-bottom:1rem;  
}
.servicePlanTable{
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.servicePlanItem{

    color:var(--aw-offblack );
    display:flex;
    gap:.5rem;
    flex-flow:column;
    position:relative;
    z-index:2;
}
.servicePlanFlag{
    position:absolute;
    top:-25px;
    left:0;
    background-color:orange;
    height:40px;
    z-index:-2;
    color:White;
    padding:.3rem .5rem;
    border-radius:5px 5px 5px 0;
}
.servicePlanText{
    background-color:white;
        border: 1px solid var(--border-color);
    border-radius:15px;
    padding:1rem;
    cursor:pointer;
    background-color:white;
    position:relative;
}
.arrowBtn{
  background-color: #ECECEC;
  padding: .5rem;
  position: absolute;
  right: 20px;
  border-radius:50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink:0;
}