.services-section{
    width:100%;
    padding: 2rem 0;
    height:auto;
    display:flex;
    align-items: center;
    background-size:cover;
    background-image: url(../../assets/our-services-bg.png);
}
.services-background{
    width:100%;
    vertical-align: middle;
}
.services-section-title{
    color:white;
    background-color: #E51620;
    width:fit-content;
    padding:.5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    margin:auto;
}
.services-section-header{
    font-size:3em;
    width:60%;
    margin:auto;
}
.services-header-container{
    text-align:center;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.services-header-container p{
    width:70%;
    margin:auto;
}

/* services gallery */
.services-gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    padding:0 5em;
    margin:3em auto;
    justify-content: center;
}
.services-card{
    padding:1rem;
    margin:1rem 1rem;
    background: white;
    border-radius:1em;
    box-shadow: 0 6px 10px rgba(36, 36, 36, 0.3);
    cursor:pointer;
    transition: all 0.2s ease-in;
    filter: brightness(100%);
}
.services-card:hover{
    transform: scale(1.05);
    filter: brightness(150%);
}
.bi{
    font-size:3em;
    margin:1rem 0 0 0;
}
@media only screen and (max-width: 970px){
    .services-card{
        display:flex;
        flex-flow:column;
        align-items: center;
        text-align: center;
        gap:.3rem;
    }
}
@media only screen and (max-width: 730px){
    .services-section-header{
        font-size:var(--mobile-header);
    }
}
@media only screen and (max-width: 430px){
    .services-section-header{
        font-size:var(--mobile-header);
    }
    .services-header-container{
        display:flex;
        gap:.5rem;
        text-align:center;
        flex-flow:column;

    }

    .services-header-container p{
        font-size:var(--mobile-body);
    }
}