.evalContainer{
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 1rem 2rem 4rem 2rem;
    height:fit-content;
    width:100%;
}
.evalDataContainer{
    display:flex;
    gap:1rem;
    justify-content: space-around;
    padding: 1rem 1rem;
    flex-flow:column;
}
.evalDataRow{
    display:flex;
    width:100%;
    gap:2rem;
}   
.evalContentLeft{
    width:40%;
    border-right:1px solid var(--border-color);
}
.evalContentRight{
    width:40%;
}
.evalDataTitle{
    color: var(--text-gray);
    font-size:.9rem;
}
.evalData{
    font-weight: 500;
    font-size:1rem;
}
.evalHeader{
    /* display:flex;
    width:300px;
    flex-direction:row; */
    position:relative;
    width:100%;
}
.evalTitle{

    color: var(--primary-color);
}
.evalEditBtn{
    position:absolute;

    height:40px;
    text-align:center;
    position: absolute;
    top:0px;
    right:0px;
    background-color: var(--primary-contrast);
    color:white;
    padding:.5rem 2rem;
    border-radius:8px;
    cursor:pointer;
}