.container{
    width:100%;
    height:100%;
    border:1px solid var(--border-color);
    padding:1rem 1rem 7rem 1rem;
    border-radius:10px;
    background-color: white;
}
.header{
    color: var(--primary-color);
    margin-bottom:1rem;
}
.tblContainer{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius:5px;
    overflow:hidden;
}
.tbl{
    border-collapse: collapse;
    width:100%;
    height:100%;
}
.tblHead{
    background-color: var(--primary-contrast);
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tblRow :last-child{
    border-bottom:none;
}
.tblHeader, .tblData{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom:1px solid black;
    padding:12px 8px;
    text-align:center;
}
.tblHeader:first-child, .tblData:first-child{
    border-left:none;
    
}
.tblHeader:last-child, .tblData:last-child{
    border-right:none;
    
}
.tblData:last-child{
    /* display:flex;
    align-items: center;
    justify-content: center; */
}