.container{
    width:100%;
    max-width:100%;
    height:auto;
    background-color: white;
    border-radius: 10px;
    border:1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
    padding:1rem 1rem 4rem 1rem;
    position:relative;
}
.header{
    text-transform:uppercase;
    color:var(--primary-color);
    font-size:1.4rem;
    margin-bottom:1rem;
}
/* .addBtn{
    position:absolute;
    right:0;
} */