.container{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.header{
    font-size:2rem;
    font-weight:700;
    color:var(--primary-contrast);
}
.textBody{
    width:50%;
    text-align: center;
}
.iconContainer{
    font-size:15rem;
    color:var(--primary-contrast);
    height:fit-content;
    line-height: 0;
}
.docIcon{
}