.container{
    display:flex;
    width:100%;
    height:fit-content;
    white-space:nowrap;
    gap:2rem;
    padding:1.5rem 0;
    margin:1.5rem 0;
    border-bottom:1px solid var(--border-color);
    border-top:1px solid var(--border-color);
}
.header{
    font-weight:600;
    margin-bottom:1rem;
}
.dataContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.paymentTypeContainer{
    border:1px solid var(--border-color);
    width:100%;
    border-radius:5px;
    padding: .5rem 1rem;
}
.hmoProviderContainer{
    border:1px solid var(--border-color);
    width:100%;
    border-radius:5px;
    padding: .5rem 1rem;
}
