.container{
    width:100%;
    border:1px solid var(--border-color);
    background-color: white;
    border-radius:10px;
    padding:1rem;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.headerText{
    font-weight:600;
    font-size:1.2rem;
    color:#1976D5;
    padding-bottom:.5rem;
    border-bottom:1px solid var(--border-color);
}
.sessionText{
    /* background-color: #F4F4F4 ; */
    width:fit-content;
    width:100%;
    border:1px solid var(--border-color);
    font-weight:600;
    font-size:1rem;
    color:#454545;
    padding:.5rem 1rem;
    border-radius:5px;
}
.newServiceContainer{
    background-color: pink;
    width:100px;
    height:100px;
}