.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(49, 49, 49, 0.8);
  z-index: 20;
  
  /* Initial state */
  opacity: 0;
  
  /* Transition */
  transition: opacity 0.3s ease-in-out;
}

.overlay.open {
  opacity: 1;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.3);
  
  /* Initial state */

  transform: translate(-50%, -200%);
  
  /* Transition */
  transition:transform 0.3s ease-in-out;
}

.modalContent.open {

  transform: translate(-50%, -50%) ;
}

.closeBtn {
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
}