.nav-container{
    width:100vw;
    height:100px;
    background: white;
    text-align: center;
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding:1rem 5rem;
}
.navCenter {

    margin-left:15rem;
}
.navCenter li{
    list-style: none;
    white-space:nowrap;

}
.logoContainer{
    cursor:pointer;
    padding:0;
    margin:0;
    transition: all 0.1s ease-out;
}
.logoContainer:hover{
    filter:brightness(1.1);
}
.logoContainer img{
     width:100px;
     height:100px;
}
.right-nav *{
    margin: auto .5rem;
    
}
.right-nav {
    margin: auto 0;
    display:flex;
    flex-direction: row;
}
.nav-book-btn{
    /* background-color:#1863B0; */
    border: 1px solid #1863B0;
    color:#1863B0;
    font-weight: 500;
    border-radius: 2rem;
    padding:.75rem 1.5rem;
    cursor:pointer;
    flex-shrink:0;
}
.nav-book-btn:hover{
    filter: brightness(1.2);
    background-color:#1863B0;
    color:white;
}
.nav-book-btn>*{
    color:white;
}
.search-btn{
    color:rgb(134, 134, 134);
    padding:12px 16px;
    margin-right:.5rem;
    border-radius: 3rem;
    height:50px;
    width: 50px;
    border-radius:50%;
    background-color: rgb(202, 202, 202, 50%);
    flex-shrink:0;
}
.user-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    overflow: hidden;
    height:50px;
    width: 50px;
    /* background-color: #97ABC0; */
    flex-shrink:0;
}
.user-icon:hover{
    outline:1px solid #1863B0;
}
.user-icon img{
    min-width:100%;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.activeNav{
    color:#1863B0;
}
.nav-item{
    display:inline-block;
    font-weight: 500;
    position:relative;
    z-index:2;
}
.nav-item:hover{
    color:#1863B0;
}
.navCenter{
    width:fit-content;
    position:relative;
    padding: 0 2rem;
    display:flex; 
    flex-direction: row;
    gap:2rem;
}
.hamb{
    display:none;
}
.logout-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:1px solid #1863B0;
    border-radius:25px;
    height:50px;
    width:50px;
    color:#1863B0;
    font-size:3rem;
    flex-shrink:0;
}
.logout-btn:hover{
    background-color:#1863B0;
    color:white;
}
@media only screen and (max-width:500px){
    .nav-container{
    padding:1rem 3rem;
    
    }
    .navCenter{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
        position: fixed;
        top:0;
        left:0;
        padding:0;
        display:flex;
        flex-flow:column;
        align-items: center;
        max-height:100%;
        z-index:10;
        overflow:hidden;
        background-color: var(--primary-contrast);

    }
    .nav-book-btn{
        display:none;
    }
    .user-icon{
        display:none;
    }
    .hamb{
        display:block;
        cursor:pointer;
        padding:40px 20px;
    }
    .hambLine{
        background: var(--primary-contrast);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    }
    .hambLine::before,
    .hambLine::after{
        background: var(--primary-contrast);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hambLine::before{
        top: 7px;
    }
    .hambLine::after{
        top: -7px;
    }
}