.treatmentProgressContainer{
    width:100%;
    height:300px;
    /* overflow:hidden; */
}
.container{
    display:flex;
    flex-direction:row;
    background-color: var(--aw-white);
    width:100%;
    height:100%;
    padding:1rem;
    gap:1rem;
}
.header{
    color:var(--primary-contrast);  
    margin-bottom:1rem;
}
.subHeader{
    color:var(--primary-contrast);  
    font-size:1.5rem;
}
.smallHeader{
    color:var(--primary-contrast);  
    font-size:1.2rem;
    font-weight:600;
}
.columnOne{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width: 50%;
    flex-grow:1;
}
.profileContainer{
    display:flex;
    gap:5rem;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--border-color);
    padding:2rem 4rem;
    border-radius: 15px;
    min-width:100%;
    min-height:400px;
}
.profileLeft{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    flex-grow:1;
    color:var(--text-gray);
    display:Flex;
    gap:.5rem;
}
.patientId{
    background-color: #E6E6E6;
    border: 1px solid var(--border-color);
    border-radius:8px;
    padding: .2rem .5rem;
    font-weight:500;
}
.patientPhone{
    display:Flex;
    gap:.5rem;
    align-items: center;
}
.patientEmail{
    display:Flex;
    gap:.5rem;
    align-items: center;
}
.profileRight{
    height:100%;
    white-space: nowrap;
    flex-grow:2;
}
.infoDataHeader{
    color:var(--text-gray);
}
.basicInfoContainer{
    display:flex;
    gap:4rem;
    justify-content: space-between;
    flex-direction:row;
    width:100%;
}
.basicInfoOne, .basicInfoTwo{
    height:100%;
    display:flex;
    flex-direction: column;
    gap:.5rem;
}
.patientPhoto{
    
}
.patientPhoto img{
    max-width:200px;
    height:200px;
    overflow: hidden;
    object-fit: cover;
    border-radius:50%;
}
.divider{
    width:100%;
    border-top: 1px solid var(--border-color);
}
.columnTwo{

    display:flex;
    flex-direction: column;
    width: 10%;
    gap:1rem;
    flex-grow:1;
}
.progressContainer{
    border: 1px solid var(--border-color);
    border-radius:15px;
    background-color: white;
    padding:1rem; 
    flex-grow:1;
}
.columnThree{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow:1;
}
.documentsContainer{
}
.documentRow{
    display:flex;
    font-size:.8rem;
    align-items: flex-start;
    gap:.5rem;
    color:var(--off-black);
    padding: .5rem 0;
    cursor:pointer;
}
.documentRowContainer{
    display:flex;
    gap:.5rem;
    flex-flow:column;
}
.documentRowContainer .documentRow:first-child{

    border-bottom: 1px solid var(--border-color);
}
.documentRowSubcontainer{
    
    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    
}
.documentIcon{
    font-size:1.2rem;
}
.miniVerticalStepperContainer{
    height:300px;
    overflow-Y:auto;
    border-radius:15px;
    text-align: center;
}


.userPhoto{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: white;
    object-fit:cover;
    /* border: 3px solid #428CD8; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}