.mainContainer{
    display:flex;
    flex-flow:column;
    width:100%;
    margin-top:1rem;
}
.row{
    display:flex;
    justify-content: space-around;
    height:100px;
    
}
.indicatorContainer{
    margin-top:1rem;
    height:100%;
    display:flex;
    flex-flow:column;
    align-items: center;
}
.circle{
    width:30px;
    height:30px;
    flex-shrink:0;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.circlePending{
    background-color: transparent;
    border:1px solid #FDBD4F;
}
.miniCirclePending{
    background-color: #FDBD4F;
    width:5px;
    height:5px;
    flex-shrink:0;
    border-radius:50%;
}
.line{
    height:100%;
    width:3px;
    background-color: var(--primary-color);
}
.row:last-child .line{
    display:none;
}
.textContainer{
    position:relative;
    text-align:center;
}
.textStatus{
    position:absolute;
    background-color: green;
    color:white;
    padding:.3rem 1rem;
    border-radius:25px;
    flex-shrink:0;
    font-size:.8rem;
    left:50%;
    transform:translateX(-50%);
    text-transform:uppercase;
    white-space:nowrap;
}
.statusCompleted{
    background-color:var(--primary-color);
}
.statusPending{
    background-color:#FDBD4F;
}
.statusTba{
    background-color:var(--aw-gray);
}
.textDate{
    color:var(--text-gray);
    font-weight:700;
    text-transform:uppercase;
    font-size:1.1rem;
}