/* .container{
    background-color: var(--aw-white);
    height:100%;
    width:100%;
    padding:1rem;
    display:flex;
    
} */
.stepperContainer{
    border:1px solid var(--border-color);
    background-color: white;
    width:100%;
    height:100%;
    border-radius:15px;
    padding: 1rem;
    position:relative;
}
.linkBtnContainer{
    position:absolute;
    right:20px;
    top:20px;
    font-size:1.5rem;
    color:var(--aw-gray);
    cursor:pointer;
}
.tabs{
    width:fit-content;
    border-radius:10px;
    flex-shrink:0;
    /* background: rgba(0,0,0,.10); */
}
.tabActive{
    width:fit-content;
    height:40px;
    display:flex;
    align-items: center;
    background-color: white;
    border-radius:10px;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
}
.tabs ul{
    
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    list-style: none;
    padding:0;
}
.tabs ul li{
    width:200px;
    display:flex;
    justify-content: center;
    padding:.5rem 1rem;
    cursor:pointer;
}
.stepperSection{
    margin:1rem 0;
    border-radius:15px;
    width:100%;
    background-color: #EDF4FC;
    overflow-y:scroll;
    padding:2rem;
    display:flex;
    justify-content: space-between;
}
.stepperSubSection{
    position:relative;
    width:100%;
    height: fit-content;
    display:flex;
    flex-flow:column;
    gap: 1rem;
    margin-bottom:1rem;
}
.detailsContainer{
    margin: 0;
    width:fit-content;
    height:125px;
    border-radius:15px;
    background-color: white;
    /* box-shadow: 0 0px 10px rgba(36, 36, 36, 0.1); */
    border:1px solid rgba(0,0,0,.10);
    display:flex;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    flex: 1;
    flex-flow:row;
    justify-content: center;
    text-align: center;
    position:relative;
    overflow:hidden;
}
.detailsContainer::before{
    content:'';
    height:100%;
    width:15px;
    background-color: var(--apptStatusColor);
    position:absolute;
    left:0;
}
.detailsContainer span{
    display:flex;
    flex-flow:column;
    justify-content: center;
    height:90%;
    /* border-right: 1px solid rgba(128, 128, 128, .5); */
    margin:auto;
    flex:1;
    flex-wrap: wrap;
}
.verticalDivider{
    width:10px;
    height:100%;
    border-right: 1px solid rgba(128, 128, 128, .5);
}
.progressBar{
    position:absolute;
    background-color:rgba(0,0,0,.10);
    inset: 0rem 0 0 4.5rem;
    height:60%;
    margin:auto 0;
    width:5px;
    display:flex;
    justify-content: space-between;
    flex-flow:column;
    z-index:1;
}
.progressBarTest{
    position:absolute;
    background-color:rgba(0,0,0,.10);
    inset: 4rem 0 0 1.5rem;
    height:100%;
    width:5px;
    display:flex;
    justify-content: flex-start;
    flex-flow:column;
    z-index:1;
}
.progressBarTestActive{
    
    background-color:rgba(255, 0, 0);

}
.progressBarTwo{
    /* position:absolute; */
    background-color:rgba(104, 56, 235);
    inset: 0rem 0 0 4.5rem;
    height:50%;
    /* margin:auto 0; */
    width:5px;
    display:flex;
    justify-content: space-between;
    flex-flow:column;
    z-index:2;
}
.progressCircle{
    background-color:white;
    border:1px solid rgba(0,0,0,.10);
    width:50px;
    height:50px;
    border-radius:50%;
    flex-shrink:0;
    z-index:3;
    display:flex;
    justify-content: center;
    align-items: center;
}
.row{
    position:relative;
    display:flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    overflow:visible;
}
.rowTitle{
    font-size:1.2rem;
    font-weight:600;
    color: var(--aw-gray);
    width:7rem;
    margin:auto;
}
.rowSubText{
   font-size:.8rem;
   color: var(--aw-gray);
}
.rowStatusIndicator{
    
}
.appointmentNotesContainer{
    display:flex;
    flex-flow:row;
    align-items: center;
    width:100px;
    justify-content: center;
    gap:.5rem;
}
.appointmentNotesContainer>*{
    line-height:0;
    color:#1976D5;
}