.mainContainer{
    background-color: #FFFFFF;
    padding:2rem;
    border-radius:15px;
    width:1200px;
    height:fit-content;
}
.dataContainer{
    display:flex;
    gap:1rem;
    /* justify-content: space-around; */
    border-radius:10px;
    flex-flow:row;
    width:100%;
}
.apptDetailsContainer{
    background-color: #E8F1FB;
    padding:1rem;
    height:100%;
    display:flex;
    flex-flow:column;
    gap:1rem;
    color:vaR(--off-black);
    border-radius:15px;
    border-left:8px solid var(--primary-color);
}
.apptDetailsItemTitle{
    font-size:.8rem;
}
.apptDetailsItemData{
    font-weight:600;
}
.apptDetailsSubContainer{
    display:flex;
    
    flex-flow:row;
}
.apptDetailsItem{
    
}
.apptDetailsRow{

}
.columnZero{
    width:50%;

}
.columnOne{
    display:flex;
    flex-direction: column;
    gap:1rem;
    height:510px;
    width:30%;
}
.claimBtn{
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height:fit-content;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    gap:1rem;
    padding:.5rem;
    cursor:pointer;
}
.therapistPhotoContainer{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow:hidden;    
}
.therapistPhoto{
    width:100%;
    height:auto;
}
.columnTwo{
    display:flex;
    gap:1rem;
    width:70%;
    /* flex-flow:column; */
}
.colTwoSubContainer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    position:relative;
    width:100%;
}
.timeSlotContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:0rem;
}
/* .timeSlotContainer span{
    border: 1px solid var(--primary-contrast);
    color: var(--primary-contrast);
    font-weight:500;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    white-space: nowrap;
} */
.headerText{
    color: var(--primary-color);
    font-weight:500;
    font-size:1rem;
    margin-bottom:.5rem;
}
.alertContainer{
    gap:1rem;
    flex-flow:row;
    align-items:flex-start;
    display:flex;
    background-color: #FFFDDC;
    padding:1rem;
    border-radius:15px;
    border-left: 8px solid #FFF86C;
}
.legendContainer{
    font-size:.8rem;
}
.legendIndicator{
    width: 20px;
    height:20px;
    background-color: #079042;
    border-radius:5px;
}
.legendContainer{
    display:flex;
    gap:1rem;
}
.legendItem{
    display:flex;
    gap:.3rem;
}
.legendIndicatorOne{
    width: 20px;
    height:20px;
    background-color: #1976D5;
    border-radius:5px;
}
.legendIndicatorTwo{
    width: 20px;
    height:20px;
    background-color: none;
    border:1px solid #1976D5;
    border-radius:5px;
}
.legendIndicatorThree{
    width: 20px;
    height:20px;
    background-color: #B3B3B3;
    border-radius:5px;
}
.legendIndicatorFour{
    width: 20px;
    height:20px;
    background-color: #FFFDDC;
    border:1px solid var(--off-black);
    border-radius:5px;
}
.btnContainer{
    display:flex;
    gap:1rem;
    justify-content: flex-end;
}
.addApptBtn{
    /* position:absolute; */
    background-color: #079042;
    color:white;
    width: fit-content;
    border-radius: 5px;
    font-weight:300;
    padding:.5rem 1rem;
    bottom:-10px;
    right:0;
}