.profileContainer{
    padding:2rem;
    width:100%;
    height:50%;
    background-color:var(--aw-white);
    display:flex;
    flex-flow:column;
}
.profileBanner{
    position:relative;
    width:100%;
    height:300px;
    border: 1px solid var(--border-color);
    border-radius:15px;
    overflow:hidden;
}
.profileBg{
    object-fit: cover;
    height:50%;
    width:100%;
}
.userContainer{
    position:absolute;
    left: 5rem;
    top:50%;
    transform: translateY(-50%);
    display:flex;
    align-items: flex-end;
    gap:3rem;
    justify-content: flex-start;
}
.userPhoto{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: white;
    object-fit:cover;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.userInfo, .userPhoto{
    display:inline-block;
    color:var(--off-black)
}
.userInfo{
    display:flex;
    flex-flow:column;
    justify-content:last baseline;
    align-items: flex-start;
}
.userName{
    font-size: 3rem;
    font-weight:600;
}
.editBtn{
    background-color: #1976D5;
    color:white;
    position: absolute;
    border-radius:10px;
    padding: .5rem;
    right:20px;
    top:20px;
    display:flex;
    align-items: center;
    width:130px;
    flex-shrink:0;
    justify-content: space-around;
    cursor: pointer;
}
.infoContainer{
    display:flex;
    margin-top:1rem;
    width:100%;
    height:fit-content;
    flex-flow:column;
    gap:1rem;
}
.infoColumnOne{
    display:flex;
    flex-flow:row;
    gap:1rem;
    width:100%;
    height:450px;
}
.coverageContainer{
    height:100%;
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius:15px;
    display:flex;
    flex-flow:column;
    gap: 2rem;
    flex-grow:1;
}
.infoColumnTwo{
    width:100%;
    display:flex;
    flex-flow:row;
    gap:1rem;

}
.emergencyInfoContainer{
    height:100%;
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius:15px;
    display:flex;
    flex-flow:column;
    gap: 2rem;
    flex-grow:1;
}
.contactInfoContainer{
    height:100%;
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius:15px;
    padding: 1rem 2rem;
    flex-grow:4;
}

.personalInfoContainer{
    height:100%;
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius:15px;
    padding: 1rem 2rem;
    flex-grow:4;
}

.infoGrid{
    height:100%;
    margin: auto;
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: 150px;
    /* grid: 100px/ 1fr 1fr 1fr; */
    align-items: center;
}
.contactInfoGrid{
    height:fit-content;
    margin: auto;
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: 85px;
    /* grid: 100px/ 1fr 1fr 1fr; */
    align-items: center;
}
.imageContainer{
    position:relative;
}
.avatarUploadBtn{

    background-color:#1976D5;
    color:white;
    font-size:1.5rem;

}
.avatarUploadContainer{
    display:flex;
    position:absolute;
    bottom:10px;
    right:10px;
    padding:.4rem;
    border-radius:50%;
    background-color:#1976D5;
    cursor:pointer;
}
.patientId{
    color:var(--off-black)
}