.container{
    width:70%;
    height:fit-content;
    padding:1rem;
    display:flex;
    flex-flow:column;
    gap:1rem;
    align-items: center;
    margin:auto;
}
.header{
    font-size:1.3rem;
    font-weight:600;
    text-align: center;
    color:var(--primary-contrast);
    text-transform: uppercase;
}
.subHeader{
    text-transform: uppercase;
    color:var(--primary-contrast);  
    text-align: center;
    margin-bottom:1rem;
}
.rowOne{
    width:fit-content;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    border: 1px solid var(--border-color);
    border-radius:10px;
   
}
.rowTwo{
    width:75%;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    border-radius:10px;
    background-color: #EAE9E8;
    padding:2rem;
    flex-flow:column;
    color:var(--primary-contrast);
    margin:auto;
        position:relative;

}
.fieldGrid{
    width:fit-content;
}
.initialEvalContainer{
    width:100%;
    padding:1rem;
    gap:1rem;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius:10px;
    background-color: white;
    flex-flow:column;
}
.bottomRowContainer{
    display:flex;
    flex-flow:row;
    gap:1rem;
}
.initialEvalHeader{
    width:100%;
    display:flex;
    flex-flow:row;
}
.subContainerLeft{
    width:50%;
    height:fit-content;
    text-align:left;
    display:flex;
    flex-flow:column;
    gap:1rem;
}
.subContainerRight{
    width:50%;
    height:fit-content;
    text-align:left;
    display:flex;
    flex-flow:column;
    gap:1rem;    
}
.leftBlock{
    display:flex;
    flex-flow:column;
    gap:1rem;
    border:1px solid var(--border-color);
    border-radius:5px;
    padding:1rem;
}
.leftBlockTwo{
    display:flex;
    flex-flow:column;
    gap:1rem;
    border:1px solid var(--border-color);
    border-radius:5px;
    padding:1rem;
}
.btnContainer{
    display:flex;
    gap:1rem;
}